html {
    --brown: #584537;
    --orange: #f47A2E;
    --white: #fff;
}

body {
    font-family: 'Sulphur Point', sans-serif;
}

footer {
    background-color: #584537;
}

footer {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    margin-top: 1rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
}

.full-menu {
    font-size: 25px;
    color:#584537;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}

header {
    background-image: url("../img/updatedimg.jpg");
    background-size: cover;
    color: #fff;
    height: 65vw;
    text-align: center;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr;
}

.container {
    display: flex;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 2rem;
    padding-top: 1rem;
}

h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-align: center; 
    margin-top: 2rem;
}


h3 {
    color: #f47A2E;
    font-size: 25px;
    font-weight: 700;
    padding: .5rem;
}

h4 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
}

.info {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (min-width: 768px) {
    .fa-instagram {
        width: .25in;
    }
}


.fa-instagram {
    font-weight: 300;
    font-size: 30px;
}

.fa-facebook {
    font-weight: 300;
    font-size: 30px;
}

.fa-twitter {
    font-weight: 300;
    font-size: 30px;
}

.links {
    display: flex;
    font-size: 20px;
  }
  
  .drinks {
    margin-left: auto;
  }
  
  .links li {
    padding: 1rem;
  }

  .instanav {
      width: .6in;
  }

@media screen and (max-width: 768px) {
    .menu-button {
        border-radius: .5rem;
        display: flex;
        margin-left: auto;
        margin-right: 2rem;
        margin-top: 1.2rem;
        max-height: 1.3rem;
        -webkit-appearance: none;
    }
    .menu-btn>span, .menu-btn>span::before, .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #141517;
        transition-duration: 0.25s;
    }
}

a {
    color: white;
}

@media screen and (max-width: 767px) {
    .links {
        display: none;

      }
      
      .drinks {
        margin-left: auto;
      }
      
      .links li {
        padding: 1rem;
      }
}

li {
    list-style-type: none;
}

ul {
    margin-top: .75rem;
    margin-left: auto;
    padding: 1.5rem;
}



.overlay {
    background: rgba(0, 0, 0, .2);
    height: 65vw;
}


.menus-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-top: 1rem;
}
  
@media screen and (min-width: 768px) {
    .menu-button {
        display: none;
    }
    .full-menu {
        font-size: 50px;
        color:#584537;
        font-weight: 700;
        text-align: center;
        margin-top: 2rem;
    }
    h1 {
        font-size: 25px;
        margin-top: 1.5rem;
        padding: 1.5rem;
    }
    h2 {
        font-size: 35px;
        margin-top: -.5rem;
    }
    h4 {
        font-size: 50px;
        margin-left: 5rem;
        margin-top: 2rem;
    }
    .info {
        padding-left: 12rem;
        padding-right: 12rem;
        font-size: 18px;
    }
    .menus-container {
      grid-template-columns: 1fr 1fr;
      
    }
    .menu {
      padding: 2rem;
    }
    div.two-column {
        grid-template-columns: 17rem 25rem;
        padding: 1rem;
        padding-bottom: 2.5rem;
    }
    header {
        background-image: url("../img/harry-brewer-irDJy_7lkWk-unsplash.jpg");
        background-size: cover;
        color: #fff;
        height: 42vw;
        text-align: center;
    }
    div.subtitle {
        font-size: 25px;
        margin-left: 5rem;
    }
    .description {
        font-size: 20px;
    }
    .overlay {
        background: rgba(0, 0, 0, .2);
        height: 42vw;
    }
    .phonenumber {
        margin-top: .3rem;
        margin-bottom: .5rem;
    }
    
    .address {
        margin-bottom: .5rem;
    }
    
    .details {
        margin-bottom: 1rem;
    }

    .name {
        margin-top: 2.3rem;
    }
}

@media screen and (min-width: 1400px) {
    h1 {
        font-size: 25px;
        margin-top: 1.5rem;
        padding: 1.5rem;
    }
    h2 {
        font-size: 50px;
        margin-top: .25rem;
    }
    h4 {
        font-size: 50px;
        margin-left: 5rem;
        margin-top: 2rem;
    }
    .info {
        padding-left: 32rem;
        padding-right: 32rem;
        font-size: 20px;
    }
    .menus-container {
      grid-template-columns: 1fr 1fr;
      margin-left: 7rem;
    }
    .menu {
      padding: 2rem;
    }
    div.two-column {
        grid-template-columns: 20rem 25rem;
        padding: 1rem;
        padding-bottom: 2.5rem;
    }
    header {
        background-image: url("../img/harry-brewer-irDJy_7lkWk-unsplash.jpg");
        background-size: cover;
        color: #fff;
        height: 28vw;
        text-align: center;
    }
    div.subtitle {
        font-size: 25px;
        margin-left: 8rem;
    }
    .description {
        font-size: 20px;
    }
    .overlay {
        background: rgba(0, 0, 0, .2);
        height: 28vw;
    }

}

.subtitle {
    font-size: 16px;
}

table {
    width: 100%;
  }
  
  tr {
    border-bottom: 1px solid black;
  }
  
  th {
    padding: .5rem;
    text-align: left;
  }

  td:first-child {
      width: 80%;
  }

  td {
    padding: .5rem;
    text-align: left;
    max-width: 1rem 1rem;
  }
  
  .price {
    font-weight: bold;
  }

  td {
    max-width: 5rem;
}

.two-column {
    display: grid;
    grid-template-columns: .5fr 1fr;
    padding: 2rem;
}  

ul {
    margin-right: 2rem;
    text-align: right;
}

.phonenumber {
    margin-top: .1rem;
    margin-bottom: .5rem;
}

.address {
    margin-bottom: .5rem;
}

.details {
    margin-bottom: 1rem;
}

.location {
    margin-top: 1.55rem;
}